# Virtual environments
clean_env/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
clean_env/
venv/
__pycache__/
.ipynb_checkpoints/
.ipynb_checkpoints/
__pycache__/
.DS_Store
